/**********************************************
GENERAL
***********************************************/

body{
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 1.5em;
  font-weight: bold;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/e/ed/Seneca-nature-trail_-_West_Virginia_-_ForestWander.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
} 
/**********************************************
HEADING
***********************************************/

header{
  font-size: 1.5em;
  margin: 0 10px 0 0;
  padding: 5px 5px;
  width: 100%;
  position: fixed;
}

#logo {
  text-align: left;
  margin: 0 0;
}

/**********************************************
NAVIGATION
***********************************************/

nav{
  text-align: center;
  padding: 0 0;
  margin: 0 0;
  width: auto;
}

nav ul{
  list-style: none;
  margin: 0 10px;
  padding: 0;
}

nav li{
  display: inline-block;
}

nav a {
  font-weight: 800;
  padding: 20px 20px;
}

/**********************************************
FOOTER
***********************************************/

footer{
  font-size: .75em;
  text-align: right;
  clear: both;
  color: Peru;
  text-shadow: 2px 2px #000;
}

.social-icon {
  width: 30px;
  height: 30px;
  margin: 0 5px;
  background-color: #ffffe5;
}

/**********************************************
PAGE: INDEX
***********************************************/
.col-md-4{
  font-size: 1.25em;
  color: #fff;
  text-align: left;
  padding: 3% 3%;
  margin: .25em 0em;
  box-shadow: inset 0px 0px 15px 5px rgba(0,0,0, 1); 
  border-radius: 25px;
  background-image: url("http://img02.deviantart.net/56fa/i/2013/084/8/7/tree_bark_texture_by_photosammich-d5zazsu.jpg");
  font-weight: bold;
}

.general {
  display: block;
  background-repeat: no-repeat;
  background-size: 35px 35px;
  padding: 3% 3%;
  margin: 1em 1em;
  color: #000;
  background-color: #ffffe5;
  opacity: .8;
  border-radius: 25px;
 }

.general a {
  color: red;
  text-shadow: 2px 2px gold;
 }

.video{
  font-size: 1em;
  color: #000;
  text-align: center;
  padding: 3% 3%;
  margin: .5em 1em;
  box-shadow: inset 0px 0px 15px 5px rgba(0,0,0, 1);
  background-image: url("http://img02.deviantart.net/56fa/i/2013/084/8/7/tree_bark_texture_by_photosammich-d5zazsu.jpg");
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
  border-radius: 25px;
}

.specs {
  font-size: 1.25em;
  padding: 3% 3%;
  margin: .75em .75em;
  color: #000;
  background-color: #ffffe5;
  border-radius: 25px;
  opacity: .9;
}

.contact{
  font-size: 1.25em;
  color: #000;
  text-align: left;
  font-weight: bold;
  padding: 3% 3%;
  margin: 1em 1em;
  box-shadow: inset 0px 0px 15px 5px rgba(0,0,0, 1); 
  border-radius: 25px;
  background-image: url("http://img02.deviantart.net/56fa/i/2013/084/8/7/tree_bark_texture_by_photosammich-d5zazsu.jpg");
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #ffffe5;
}

.section-photo {
  clear: both;
  display: block;
  max-width: 15em;
  margin: 0 auto 30px;
  border-radius: 50%;
  float: right;
}

.contact-info{
  list-style: none;
  padding: 1.5em;
  text-align: left; 
  background-color: #ffffe5;
  opacity: .8;
  border-radius: 25px;
}

.contact-info a {
  display: block;
  min-height: 1.5em;
  background-repeat: no-repeat;
  background-size: 35px 35px;
  padding: 0 0 0 30px;
  margin: 5px 5px;
  color: #000;
  background-color: #ffffe5;
 }

.contact-info li.phone a {
  background-image: url('../img/phone.png');
  margin: 0 0 0 30px;
  background-color: #ffffe5;
}


.contact-info li.facebook a {
  background-image: url('../img/facebook.png');
  margin: 0 0 0 25px;
  background-color: #ffffe5;
}


/* Layout Styles ------------------ */

.primary-content, 
.secondary-content {
  width: 75%;
  padding-left: 50px;
  padding-right: 50px;
  margin: auto;
  max-width: 960px;
}
/**********************************************
PAGE: EDUCATION
***********************************************/

.classb{
  border-radius: 25px;
  font-size: .85em;
  text-align: left;
  padding: 3% 3%;
  margin: .25em 0em;
  box-shadow: inset 0px 0px 15px 5px rgba(0,0,0, 1); 
  border-radius: 25px;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/8/83/Northern_Cardinal_Male-27527.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 25% 25%;
}

.classl{
  border-radius: 25px;
  font-size: .85em;
  text-align: left;
  padding: 3% 3%;
  margin: .25em 0em;
  box-shadow: inset 0px 0px 15px 5px rgba(0,0,0, 1); 
  border-radius: 25px;
  background-image: url("http://upload.wikimedia.org/wikipedia/commons/e/e0/Anterior_Median_and_Anterior_Lateral_Eyes_of_a_Phidippus_princeps_Jumping_Spider.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 75% 75%;
}

.classa{
  border-radius: 25px;
  font-size: .85em;
  text-align: left;
  padding: 3% 3%;
  margin: .25em 0em;
  box-shadow: inset 0px 0px 15px 5px rgba(0,0,0, 1); 
  border-radius: 25px;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/7/7f/Fawn-in-grass.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 75% 75%;
}

.classp{
  border-radius: 25px;
  font-size: .85em;
  text-align: left;
  padding: 3% 3%;
  margin: .25em 0em;
  box-shadow: inset 0px 0px 15px 5px rgba(0,0,0, 1); 
  border-radius: 25px;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/9/9a/Purpleflower_Violet.JPG");
  background-repeat: no-repeat;
  background-position: 5% 15%;
  background-size: 100% 100%;
}

.classd{
  border-radius: 25px;
  font-size: .85em;
  text-align: left;
  padding: 3% 3%;
  margin: .25em 0em;
  box-shadow: inset 0px 0px 15px 5px rgba(0,0,0, 1); 
  border-radius: 25px;
  background-image: url("http://img05.deviantart.net/a8ef/i/2013/166/6/a/god_made_dirt_and_dirt_don_t_hurt_by_otherworldartist-d696hwf.jpg");
  background-repeat: no-repeat;
  background-position: 5% 15%;
  background-size: 100% 100%;
}

.classt{
  border-radius: 25px;
  font-size: .85em;
  text-align: left;
  padding: 3% 3%;
  margin: .25em 0em;
  box-shadow: inset 0px 0px 15px 5px rgba(0,0,0, 1); 
  border-radius: 25px;
  background-image: url("https://marycsmith.smugmug.com/Kentucky/Kentucky-Bluegrass/i-3bz8BvX/0/X2/IMG_7814c-X2.jpg");
  background-repeat: no-repeat;
  background-position: 5% 15%;
  background-size: 100% 100%;
}

.classr{
  border-radius: 25px;
  font-size: .85em;
  text-align: left;
  padding: 3% 3%;
  margin: .25em 0em;
  box-shadow: inset 0px 0px 15px 5px rgba(0,0,0, 1); 
  border-radius: 25px;
  background-image: url("http://orig04.deviantart.net/b17d/f/2009/196/6/d/blue_grey_stone_texture_by_dsibley.jpg");
  background-repeat: no-repeat;
  background-position: 5% 15%;
  background-size: 100% 100%;
}

.classs{
  border-radius: 25px;
  font-size: .85em;
  text-align: left;
  padding: 3% 3%;
  margin: .25em 0em;
  box-shadow: inset 0px 0px 15px 5px rgba(0,0,0, 1); 
  border-radius: 25px;
  background-image: url("http://i.telegraph.co.uk/multimedia/archive/02247/snail_2247464b.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

.classsp{
  border-radius: 25px;
  font-size: .85em;
  text-align: left;
  padding: 3% 3%;
  margin: .25em 0em;
  box-shadow: inset 0px 0px 15px 5px rgba(0,0,0, 1); 
  border-radius: 25px;
  background-image: url("http://upload.wikimedia.org/wikipedia/commons/9/99/Girl_Scout_Patches.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

.all-classes {
  padding: 3% 3%;
  margin: 1em 1em;
  color: #000;
  background-color: #ffffe5;
  opacity: .8;
  box-shadow: inset 0px 0px 15px 5px rgba(0,0,0, 1); 
  border-radius: 25px;
  font-size: 1.25em;
  text-align: left;
}

h1 {
text-align: center;
text-decoration: underline;
font-weight: bold;
font-size: 1.5em;
color: #000;
}


/**********************************************
PAGE: SUPPORT
***********************************************/
/**********************************************
PAGE: FEATURES
***********************************************/
/**********************************************
PAGE: NEWSLETTER
***********************************************/

/**********************************************
COLORS
***********************************************/

/*site body*/
body {
  background-color: #fff;
  color: #000;
}

/*HEADER*/
header {
  background: #fff; 
  border-color: #000;
}

/* NAV BACKGROUND ON MOBILE DEVICES*/
nav{
  background: #ffffe5;
}


/* LINKS*/
a {
  color: #000; 
}

/* NAV LINK*/
nav a, nav a:visited {
  color: Peru; 
}

/* SELECTED NAV LINK */
nav a.selected, nav a:hover {
  color: SaddleBrown;
}