/**********************************************
GENERAL
***********************************************/

body{
  font-family: 'Vollkorn', serif;
  font-size: 1.25em;
  background-image: url("http://www.torange.us/fx/18/18029/4-0-4-0-0-0.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
} 
/**********************************************
HEADING
***********************************************/

header{
  font-size: 1.35em;
  float: left;
  margin: 0 10px 0 0;
  padding: 5px 5px;
  width: 100%;
  position: fixed;
}

#logo {
  text-align: left;
  margin: 0 0;
}

/**********************************************
NAVIGATION
***********************************************/

nav{
  text-align: center;
  padding: 0 0;
  margin: 0 0;
  width: auto;
}

nav ul{
  list-style: none;
  margin: 0 10px;
  padding: 0;
}

nav li{
  display: inline-block;
}

nav a {
  font-weight: 800;
  padding: 20px 20px;
}

/**********************************************
FOOTER
***********************************************/

footer{
  font-size: .75em;
  text-align: right;
  clear: both;
  padding-top: 50px;
  color: #FFFFC2;
  text-shadow: 2px 2px #000;
}

.social-icon {
  width: 30px;
  height: 30px;
  margin: 0 5px;
  background-color: #ffffe5;
}

/**********************************************
PAGE: INDEX
***********************************************/
.about{
  font-size: 2em;
  color: #6C3650;
  text-align: left;
  font-weight: bold;
  padding: 10% 5% 0% 5%;
  margin: 0 0;
  text-align: center;
}

.col-md-4{
  font-size: 1.55em;
  color: #fff;
  text-align: left;
  font-weight: bold;
  padding: 1% 3%;
  margin: 10px 0 15px;
  box-shadow: inset 0px 0px 15px 5px rgba(0,0,0, 1); 
  border-radius: 25px;
  background-image: url("http://img00.deviantart.net/6ebe/i/2011/165/6/1/wood_grain_texture_3_by_fantasystock-d3iy1rp.jpg");
  opacity: 0.95;
  background-color: #000;
}

h2 {
text-align: center;
}

.contact{
  font-size: 1.75em;
  color: #000;
  text-align: left;
  font-weight: bold;
  padding: 6% 6%;
  margin: 25px 0 15px;
  box-shadow: inset 0px 0px 15px 5px rgba(0,0,0, 1); 
  border-radius: 25px;
  background-image: url("http://img02.deviantart.net/56fa/i/2013/084/8/7/tree_bark_texture_by_photosammich-d5zazsu.jpg" );
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.section-photo {
  clear: both;
  display: block;
  max-width: 15em;
  margin: 0 auto 30px;
  border-radius: 50%;
  float: right;
}

.contact-info{
  list-style: none;
  padding: .75em;
  text-align: left; 
  background-color: #ffffe5;
  opacity: .75;
}

.contact-info a {
  display: block;
  min-height: 1.75em;
  background-repeat: no-repeat;
  background-size: 35px 35px;
  padding: 0 0 0 30px;
  margin: 5px 5px;
  color: #000;
  background-color: #ffffe5;
 }

.contact-info li.phone a {
  background-image: url('../img/phone.png');
  margin: 0 0 0 30px;
  background-color: #ffffe5;
}


.contact-info li.facebook a {
  background-image: url('../img/facebook.png');
  margin: 0 0 0 25px;
  background-color: #ffffe5;
}

/* Layout Styles ------------------ */

.primary-content, 
.secondary-content {
  width: 75%;
  padding-left: 50px;
  padding-right: 50px;
  margin: auto;
  max-width: 960px;
}

/**********************************************
PAGE: SUPPORT
***********************************************/


/**********************************************
COLORS
***********************************************/

/*site body*/
body {
  background-color: #fff;
  color: #000;
}

/*HEADER*/
header {
  background: #fff; 
  border-color: #599a68;
}

/* NAV BACKGROUND ON MOBILE DEVICES*/
nav{
  background: #599a68
}

/* COL TEXT */
h1, h2 {
  color: #000;
}

/* LINKS*/
a {
  color: #7eb48a; 
}

/* NAV LINK*/
nav a, nav a:visited {
  color: #aed0b6; 
}

/* SELECTED NAV LINK */
nav a.selected, nav a:hover {
  color: #32673f;
}