/**********************************************
GENERAL
***********************************************/

body{
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 1.5em;
  font-weight: bold;
  background-image: url("../img/trail.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
} 

/**********************************************
NAVIGATION
***********************************************/

nav{
  text-align: center;
  padding: 0 0;
  margin: 0 0;
  width: auto;
  list-style: none;
  border-width:1px 0;
  border:1px solid #ccc;
}

nav li{
  display: inline;
}

nav a {
  display: inline-block;
  font-weight: 800;
  padding: 10px;
}

/**********************************************
FOOTER
***********************************************/

footer{
  font-size: .75em;
  text-align: right;
  clear: both;
  color: Peru;
  text-shadow: 2px 2px #000;
}

.social-icon {
  width: 30px;
  height: 30px;
  margin: 0 5px;
  background-color: #ffffe5;
}

/**********************************************
PAGE: INDEX
***********************************************/

.col-md-4{
  font-size: 1em;
  color: #fff;
  text-align: center;
  padding: 3% 3%;
  margin: .25em 0em;
  box-shadow: inset 0px 0px 15px 5px rgba(0,0,0, 1); 
  border-radius: 25px;
  font-weight: bold;
  background-image: url("../img/tree_bark.jpg");
}

.general {
  display: block;
  background-repeat: no-repeat;
  background-size: 35px 35px;
  padding: 3% 3%;
  margin: 1em 1em;
  box-shadow: inset 0px 0px 15px 5px rgba(0,0,0, 1); 
  color: #000;
  background-color: #ffffe5;
  opacity: .8;
  border-radius: 25px;
  font-size: 1em;
  text-align: left;
  font-weight: bold;
  background-size: cover;
 }

.general a {
  color: red;
  text-shadow: 2px 2px gold;
  text-align: center;
 }

.video{
  font-size: 1em;
  color: #000;
  text-align: center;
  padding: 3% 3%;
  margin: .5em 1em;
  box-shadow: inset 0px 0px 15px 5px rgba(0,0,0, 1);
  background-image: url("../img/tree_bark.jpg");
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
  border-radius: 25px;
}

.specs {
  font-size: 1.25em;
  padding: 3% 3%;
  margin: .75em .75em;
  color: #000;
  background-color: #ffffe5;
  border-radius: 25px;
  opacity: .9;
}

.contact{
  font-size: 1em;
  color: #000;
  text-align: left;
  font-weight: bold;
  padding: 3% 3%;
  margin: 1em 1em;
  box-shadow: inset 0px 0px 15px 5px rgba(0,0,0, 1); 
  border-radius: 25px;
  background-image: url("../img/tree_bark.jpg");
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #ffffe5;
}

.section-photo {
  clear: both;
  display: block;
  max-width: 22.5em;
  margin: 0 auto 30px;
  border-radius: 75%;
  float: right;
}

.col-md-6{
  font-size: 1.25em;
  color: #fff;
  text-align: left;
  padding: 3% 3%;
  margin: .25em 0em;
  box-shadow: inset 0px 0px 15px 5px rgba(0,0,0, 1); 
  border-radius: 25px;
  background-image: url("../img/tree_bark.jpg");
  font-weight: bold;
}

.col-md-6 li {
  text-align: left;
}

.contact-info{
  list-style: none;
  padding: 1.5em;
  text-align: left; 
  background-color: #ffffe5;
  opacity: .8;
  border-radius: 25px;
}

.contact-info a {
  display: block;
  min-height: 1.5em;
  background-repeat: no-repeat;
  background-size: 35px 35px;
  padding: 0 0 0 30px;
  margin: 5px 5px;
  color: #000;
  background-color: #ffffe5;
 }

.contact-info li.phone a {
  background-image: url('../img/phone.png');
  margin: 0 0 0 30px;
  background-color: #ffffe5;
}


.contact-info li.facebook a {
  background-image: url('../img/facebook.png');
  margin: 0 0 0 25px;
  background-color: #ffffe5;
}


/* Layout Styles ------------------ */

.primary-content, 
.secondary-content {
  width: 75%;
  padding-left: 50px;
  padding-right: 50px;
  margin: auto;
  max-width: 960px;
}
/**********************************************
PAGE: EDUCATION
***********************************************/

.classb{
  border-radius: 25px;
  font-size: .85em;
  text-align: left;
  padding: 3% 3%;
  margin: .25em 0em;
  box-shadow: inset 0px 0px 15px 5px rgba(0,0,0, 1); 
  border-radius: 25px;
  background-image: url("../img/male_cardinal.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 25% 25%;
}

.classl{
  border-radius: 25px;
  font-size: .85em;
  text-align: left;
  padding: 3% 3%;
  margin: .25em 0em;
  box-shadow: inset 0px 0px 15px 5px rgba(0,0,0, 1); 
  border-radius: 25px;
  background-image: url("../img/spider");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 75% 75%;
}

.classa{
  border-radius: 25px;
  font-size: .85em;
  text-align: left;
  padding: 3% 3%;
  margin: .25em 0em;
  box-shadow: inset 0px 0px 15px 5px rgba(0,0,0, 1); 
  border-radius: 25px;
  background-image: url("../img/fawn.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 75% 75%;
}

.classp{
  border-radius: 25px;
  font-size: .85em;
  text-align: left;
  padding: 3% 3%;
  margin: .25em 0em;
  box-shadow: inset 0px 0px 15px 5px rgba(0,0,0, 1); 
  border-radius: 25px;
  background-image: url("../img/violets.JPG");
  background-repeat: no-repeat;
  background-position: 5% 15%;
  background-size: 100% 100%;
}

.classd{
  border-radius: 25px;
  font-size: .85em;
  text-align: left;
  padding: 3% 3%;
  margin: .25em 0em;
  box-shadow: inset 0px 0px 15px 5px rgba(0,0,0, 1); 
  border-radius: 25px;
  background-image: url("../img/dirt.jpg");
  background-repeat: no-repeat;
  background-position: 5% 15%;
  background-size: 100% 100%;
}

.classt{
  border-radius: 25px;
  font-size: .85em;
  text-align: left;
  padding: 3% 3%;
  margin: .25em 0em;
  box-shadow: inset 0px 0px 15px 5px rgba(0,0,0, 1); 
  border-radius: 25px;
  background-image: url("../img/falls.jpg");
  background-repeat: no-repeat;
  background-position: 5% 15%;
  background-size: 100% 100%;
}

.classr{
  border-radius: 25px;
  font-size: .85em;
  text-align: left;
  padding: 3% 3%;
  margin: .25em 0em;
  box-shadow: inset 0px 0px 15px 5px rgba(0,0,0, 1); 
  border-radius: 25px;
  background-image: url("../img/stone.jpg");
  background-repeat: no-repeat;
  background-position: 5% 15%;
  background-size: 100% 100%;
}

.classs{
  border-radius: 25px;
  font-size: .85em;
  text-align: left;
  padding: 3% 3%;
  margin: .25em 0em;
  box-shadow: inset 0px 0px 15px 5px rgba(0,0,0, 1); 
  border-radius: 25px;
  background-image: url("../img/snail.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

.classsp{
  border-radius: 25px;
  font-size: .85em;
  text-align: left;
  padding: 3% 3%;
  margin: .25em 0em;
  box-shadow: inset 0px 0px 15px 5px rgba(0,0,0, 1); 
  border-radius: 25px;
  background-image: url("../img/patches.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

.all-classes {
  padding: 3% 3%;
  margin: 1em 1em;
  color: #000;
  background-color: #ffffe5;
  opacity: .8;
  box-shadow: inset 0px 0px 15px 5px rgba(0,0,0, 1); 
  border-radius: 25px;
  font-size: 1.25em;
  text-align: left;
}

.summer {
  border-radius: 25px;
  font-size: .85em;
  text-align: left;
  padding: 3% 3%;
  margin: .25em 0em;
  box-shadow: inset 0px 0px 15px 5px rgba(0,0,0, 1); 
  border-radius: 75px;
  background-image: url("../img/beargrasscreek.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

h1 {
text-align: center;
text-decoration: underline;
font-weight: bold;
font-size: 1.5em;
color: #000;
}

h2 {
text-align: center;
text-decoration: none;
font-weight: bold;
font-size: 1.5em;
color: red;
}


/**********************************************
PAGE: FEATURES
***********************************************/
/**********************************************
PAGE: NEWSLETTER
***********************************************/

/**********************************************
COLORS
***********************************************/

/*site body*/
body {
  background-color: #fff;
  color: #000;
}

/*HEADER*/
header {
  background: #fff; 
  border-color: #000;
}

/* NAV BACKGROUND ON MOBILE DEVICES*/
nav{
  background: #ffffe5;
}


/* LINKS*/
a {
  color: #000; 
}

/* NAV LINK*/
nav a, nav a:visited {
  color: Peru; 
}

/* SELECTED NAV LINK */
nav a.selected, nav a:hover {
  color: SaddleBrown;
}